.intro-section {
  @include display(flex, row, space-between);
  position: relative;

  &__nature-img {
    margin-top: 20px;
  }

  &__bike-container {
    position: absolute;
    left: 630px;
    top: 383px;
    height: 430px;
  }

  &__bike-img {
    position: sticky;
    width: 440px;
    height: 300px;
    padding: 20px 50px;
    background-color: $bg;
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.44));
    top: 130px;
    margin: 0;
    border-radius: 20px;
  }
}
