%list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  @extend %list;
  align-items: center;
  @include font-parametr(500, 14px, 18px, #151515);

  li {
    @extend %hoverEffect;
  }
}

.nav {
  width: 399px;
  height: 18px;
}
