.quote {
  @include display(flex, column, space-between);
  width: 470px;

  &__title {
    @include font-parametr(600, 34px, 44px, $title-black);
    letter-spacing: -0.5px;
  }

  &__box {
    gap: 6px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include font-parametr(500, 20px, 32px, $title-black);
  }

  &__profession {
    @include font-parametr(400, 16px, 28px, $subtitle-black);
    opacity: 0.7;
  }
}
