.switch {
  @include display(flex, row, none);
  gap: 22px;
  align-self: flex-end;

  &__toogle {
    height: 24px;
    width: 44px;
    border-radius: 9999px;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s;

    &::after {
      content: "";
      height: 20px;
      width: 20px;
      border-radius: 9999px;
      background: #24b47e;
      top: 2px;
      left: 2px;
      transition-duration: 0.1s;
      position: absolute;
      z-index: 1;
    }

    &_active {
      &::after {
        left: 22px;
      }
    }
  }
}
